<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                سبد خرید
            </div>
            <div class="card-body">
                <form action="/payment/start/{{order.hash}}" method="post">
                    <div class="text-center">
                        قیمت کل :
                        {{ order.total_price }}
                    </div>
                    <div class="payment_method"><label for="cash">نقدی</label>
                        <input id="cash" type="radio" name="payment_method" value="cash"></div>
                    <div class="payment_method"><label for="online">آنلاین</label>
                        <input id="online" type="radio" name="payment_method" checked value="online"></div>
                    <div class="payment_method"><label for="wallet">کیف پول</label>
                        <input type="radio" id="wallet" name="payment_method" value="wallet"></div>
                    <div class="payment_method"><label for="gift">کارت هدیه</label>
                        <input type="radio" id="gift" name="payment_method" value="gift"></div>
                    <button class="btn btn-primary" name="startPayment">پرداخت</button>
                </form>
            </div>
        </div>
    </div>
</div>