<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                404
            </div>
            <div class="card-body">
                <h2>آدرس مورد نظر پیدا نشد</h2>
            </div>
        </div>
    </div>
</div>