<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فروشگاه محصولات دیجیتالی</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
    <div id="wrapper">
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav class="top-menu">
                            <ul class="main-menu">
                                <li>
                                    <a href="/">فروشگاه</a>
                                </li>
                                <li>
                                    <a href="/basket">سبد خرید</a>

                                </li>
                                <li>
                                    <a href="">راهنمای خرید</a>

                                </li>
                                <li>
                                    <a href="">تماس با ما</a>
                                </li>
                            </ul>
                            <ul class="user-menu">
                                <li>
                                    <a class="basket-items" href="">
                                        <span class="basket-items-count basket-items-count-0">۰</span>
                                        <i class="material-icons">
                                            shopping_basket
                                        </i>
                                    </a>
                                </li>
                                <li> <a class="btn btn-primary" href="/auth/register">ورود / ثبت نام</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{{body}}}
        </div>
    </div>
    <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>